.firstSection,
.tiles,
.signup {
  text-align: center;
  background: white;
  width: 1240px;
  margin: auto;
}
.firstSection__container {
  padding: 200px;
}
.firstSection__subHeader {
  margin: 20px;
  color: #606060;
}
.firstSection__button {
  margin-top: 50px;
}
.tiles__container {
  display: flex;
  flex-wrap: wrap;
  width: 1180px;
  margin: auto;
}
.tiles__container a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}

.tiles__container a:hover {
  text-decoration: none;
}
.tiles__container .tile {
  width: 295px;
  height: 295px;
  background-size: cover;
  color: white;
}
.tile-1 {
  background: url("../img/tile1.jpg");
}

.tile-2 {
  background: url("../img/tile2.jpg");
}
.tile-3 {
  background: url("../img/tile3.jpg");
}
.tile-4 {
  background: url("../img/tile4.jpg");
}
.tile-5 {
  background: url("../img/tile5.jpg");
}
.tile-6 {
  background: url("../img/tile6.jpg");
}
.tile-7 {
  background: url("../img/tile7.jpg");
}

.tile-8 {
  background: url("../img/tile8.jpg");
}
.tiles__container h2 {
  width: 200px;
  margin: 75px auto 10px;
}
.signup__container {
  padding: 100px 0px;
  font-size: 11px;
}

.signup__container form input {
  font-size: 11px;
  padding: 20px 10px;
  height: 54px;
  width: 476px;
}

.signup__container form button {
  position: relative;
  top: 0.5px;
  right: 5px;
  width: 94px;
  height: 54px;
  font-size: 14px;
  background: #f68236;
  border: none;
  color: white;
}
.signup__container form {
  margin: 50px;
}
.signup__container .subHeaderSmall {
  margin-top: 10px;
  color: #606060;
}
.signup__slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  background: #777777;
  margin: auto;
  overflow: hidden;
}
.slider__container {
  display: flex;
  position: relative;
  transform: left 0.5s;
  left: 0px;
}
.slider__element {
  position: relative;
  flex-basis: 200px;
  height: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-size: cover;
}
.slider__element a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slider__element--1 {
  background-image: url(../img/slider1.jpg);
}

.slider__element--2 {
  background-image: url(../img/slider2.jpg);
}

.slider__element--3 {
  background-image: url(../img/slider3.jpg);
}

.slider__element--4 {
  background-image: url(../img/slider4.jpg);
}

.slider__element--5 {
  background-image: url(../img/slider5.jpg);
}

.slider__element--6 {
  background-image: url(../img/slider6.jpg);
}

.slider__element--7 {
  background-image: url(../img/slider7.jpg);
}

.slider__element--8 {
  background-image: url(../img/slider8.jpg);
}
.slider__button {
  position: absolute;
  height: 120px;
  width: 50px;
  background: rgba(200, 200, 200, 0.8);
  z-index: 1000;
  border: none;
}
.slider__button img {
  width: 18px;
  height: auto;
}
.slider__button--left {
  left: 0px;
}
.slider__button--right {
  right: 0px;
}
.tiles__container,
.signup__container,
.firstSection__container {
  width: 1180px;
  margin: auto;
}

@media screen and (max-width: 1239px) {
  .tiles__container,
  .signup__container,
  .firstSection__container {
    width: 964px;
    margin: auto;
  }
  .tiles__container .tile {
    width: 241px;
    height: 241px;
  }
}

@media screen and (max-width: 1023px) {
  .tiles__container {
    width: 768px;
  }
  .tiles__container .tile {
    width: 241px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 413px) {
}
