.info,
.breadcrumbs,
.lookbook,
.images {
  width: 1240px;
  background: white;
  margin: auto;
}
.images {
  padding: 50px 0px;
}
.info__container,
.images__container {
  width: 95%;
  margin: auto;
}
.images__container {
  position: relative;
  height: 590px;
  background: url("../img/product_images/productimage4.jpg");
  background-size: cover;
}
.images__smallImgs {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}
.images__smallImg {
  width: 70px;
  height: 70px;
  margin: 10px 0px 0px;
  background-size: cover;
  border: 1px solid #606060;
}
.smallImg__button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}
.images__smallImg:hover {
  filter: brightness(150%);
}
.images__smallImg--1 {
  background: url("../img/product_images/thumbnail1.jpg");
}

.images__smallImg--2 {
  background: url("../img/product_images/thumbnail2.jpg");
}

.images__smallImg--3 {
  background: url("../img/product_images/thumbnail3.jpg");
}
.info__container {
  text-align: center;
}
.info__article {
  color: #a3a3a3;
  padding: 10px;
  font-family: "latoItalic";
}
.info__price {
  font-size: 16px;
  padding: 15px;
}
.info__description,
.info__price,
.info__sizeheader {
  color: #606060;
}
.info__sizeheader {
  padding: 50px 0px 0px;
}
.info__sizes {
  margin: 50px;
}
.sizebtn {
  width: 40px;
  height: 40px;
  font-size: 12.8px;
  background: white;
  border: 1px solid #606060;
  color: #606060;
  margin-right: 10px;
}
.info__addbtn {
  margin-bottom: 100px;
}
.info {
  border-bottom: solid 1px rgb(229, 229, 229);
}
.sizebtn:hover {
  color: white;
  background: #606060;
}
.lookbook__container {
  color: #606060;
  padding: 50px 0px 100px;
}

.lookbook__slider {
  display: flex;
  position: relative;
  width: 95%;
  height: 120px;
  background: #777777;
  margin: auto;
  overflow: hidden;
}
.slider__container {
  display: flex;
  position: relative;
  transform: left 0.5s;
  left: 0px;
}
.slider__element {
  position: relative;
  flex-basis: 200px;
  height: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  background-size: cover;
}
.slider__element a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slider__element--1 {
  background-image: url(../img/slider/slider1.jpg);
}

.slider__element--2 {
  background-image: url(../img/slider/slider2.jpg);
}

.slider__element--3 {
  background-image: url(../img/slider/slider3.jpg);
}

.slider__element--4 {
  background-image: url(../img/slider/slider4.jpg);
}

.slider__element--5 {
  background-image: url(../img/slider/slider5.jpg);
}

.slider__element--6 {
  background-image: url(../img/slider/slider6.jpg);
}

.slider__element--7 {
  background-image: url(../img//slider/slider7.jpg);
}

.slider__element--8 {
  background-image: url(../img/slider/slider8.jpg);
}
.slider__button {
  position: absolute;
  height: 120px;
  width: 50px;
  background: rgba(200, 200, 200, 0.8);
  z-index: 1000;
  border: none;
}
.slider__button img {
  width: 18px;
  height: auto;
}
.slider__button--left {
  left: 0px;
}
.slider__button--right {
  right: 0px;
}

.sizebtnChosen {
  width: 40px;
  height: 40px;
  font-size: 12.8px;
  margin-right: 10px;
  background: #f68236;
  color: white;
  border: none;
}
.sizebtnChosen:hover {
  background: #e67429;
}
@media screen and (max-width: 1239px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 413px) {
}
